# Variáveis de ambiente
*.json
**/*.json
**/user.json
**/subject.json
**/remark.json
**/release.json
**/group.json
**/login.json
**/customer.json
**/client.json
**/business.json


*.Env


# Configurações do VSCode
.vscode/

# Arquivos Compilados
*.exe
